
html {
    height: 100%;
}

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #1b1d26;
}
table.content{
    vertical-align: 0;
    align-items: top;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-color: transparent;
    margin-left:10px
}

#header{
    background: #03e9f4;
    color: white;
    background-position: top center;
    text-align: center;
    box-shadow: 0 15px 25px #03e8f4cb;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.container{
    padding-bottom: 10px;
    padding-left: 10px;
    background: #262832;
    text-align: center;
    box-shadow: 0 15px 25px #262832cb;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.container img{
    align-items: top;
    scale: 50%;
    transition: .5s;
}
.container img:hover{
    scale: 100%;
    cursor: pointer;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    transition: .5s;
}
#footer{
    font-family: 'Times New Roman', Times, serif;
}
footer img{
    width: auto;
    height: 50px;
}
footer{
    color: white;
}
.button{
    padding: 10px 20px;
    background-color: transparent;
    border-color: transparent;
    color: #03e9f4;
    display: inline-block;
    overflow: hidden;
    transition: .5s;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 4px;
}
.button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
table.buttonTable{
    width: 100%;
    padding: 5% 5%;

}
.container.inputGroup{
    text-align: left;
}
.inputGroup {
    font-family: 'Fira Sans', sans-serif;
    text-align: left;
    width: 50px;
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    border-radius: 5px;
}
.inputGroup label{
    padding: 15px 20px;
    border-radius: 5px;
    width: 10px;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.inputGroup label:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #02a5ae;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup input:checked~label{
    color: #fff;
}
.inputGroup input:checked~label:before{
    transform: translate(-50%, -50%) scale3d(7, 7, 1);
    opacity: 1;
}

.inputGroup input{
    width: 20px;
    height: 20px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
.container a em{
    font-weight: normal;
    color:black;
    background: url(/img/hover.png) no-repeat;
    width: 180px;
    height: 45px;
    position: absolute;
    top: 100px;
    left: 20px;
    text-align: center;
    padding: 20px 12px 10px;
    font-style: normal;
    z-index: 2;
    display: none;
}